Life Expectancy Using Auto AI/flows (2).json
[{"id":"29d7af18.36802","type":"tab","label":"Auto AI","disabled":false,"info":""},{"id":"2cfb9fd2.a29fe","type":"ui_form","z":"29d7af18.36802","name":"","label":"","group":"133165f6.ed8fea","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["71103116.1bfdc"]]},{"id":"71103116.1bfdc","type":"function","z":"29d7af18.36802","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"H-RNjkb1RaqQvoVv8oqTR2zjHwklCIP7NiSKvg9f4MLo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["59f3a686.377488"]]},{"id":"7e84c647.600808","type":"http request","z":"29d7af18.36802","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/5b43f258-6fb9-4f2e-a0d9-0aeffefb47a4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["35893df2.421fb2"]]},{"id":"b3b64978.91bda8","type":"debug","z":"29d7af18.36802","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"35893df2.421fb2","type":"function","z":"29d7af18.36802","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["b3b64978.91bda8","25ef2e92.928652"]]},{"id":"34c0845e.2f9f0c","type":"function","z":"29d7af18.36802","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"a3aafd18-3624-48d0-a55c-462220b47a76\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\n\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"input_data\":[{\"fields\":[\"Country\", \"Year\", \"Status\",\t\n    \"Adult Mortality\",\t\"infant deaths\",\n    \"Alcohol\",\"percentage expenditure\",\n    \"Hepatitis B\", \"Measles\",\"BMI\",\n    \"under-five deaths\", \"Polio\",\n    \"Total expenditure\", \"Diphtheria\",\t \n    \"HIV/AIDS\",\t\"GDP\",\n    \"Population\",\"thinness 1-19 years\",\n    \"thinness 5-9 years\",\n    \"Income composition of resources\",\n    \"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["7e84c647.600808"]]},{"id":"59f3a686.377488","type":"http request","z":"29d7af18.36802","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["34c0845e.2f9f0c"]]},{"id":"25ef2e92.928652","type":"ui_text","z":"29d7af18.36802","group":"133165f6.ed8fea","order":1,"width":0,"height":0,"name":"","label":"Years","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":400,"wires":[]},{"id":"133165f6.ed8fea","type":"ui_group","z":"","name":"Auto AI","tab":"d72d55db.bfd738","order":1,"disp":true,"width":"6","collapse":false},{"id":"d72d55db.bfd738","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]